<?xml version="1.0"?>

<launch>


	<arg name="gui" default = "true"/>


	<!--include package move-base>
	<include file="$(find ensta_move_base)/launch/move_base.launch"/>
	< SLAM -->
	    <include file="$(find gmapping)/launch/slam_gmapping_pr2.launch">
	    </include>

	  <!-- Initialization world -->
	  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="world_name"  value="$(find worlds)/test_world.world"/>
	    <!--<arg name="paused"      value="$(arg paused)"/>-->
	    <arg name="gui"         value="$(arg gui)"/>
	  </include>

 	<!--For Xacro file-->
    	 <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot_description)/urdf/robot.urdf.xacro"/>

	<!--Spawn a robot into Gazebo-->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot -param robot_description"/>

	<!--transformees-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<!--transformee gps data pour rviz COMMENTER -> GPS PUBLIE PAS>
	<node name= "tf_gps" pkg= "robot_description" type= "tf_gps"/-->

</launch>
