<?xml version="1.0"?>

<launch>
	<!--include package move-base-->
	<include file="$(find ensta_move_base)/launch/move_base.launch"/>

	<!--launch.world.file-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!-- ou empty_world-->
	</include>

 	<!--For Xacro file-->
    	 <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot_description)/urdf/robot.urdf.xacro"/>   

	<!--Spawn a robot into Gazebo-->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot -param robot_description"/>

	<!--transformees-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>
